/* pc */
@media screen and (min-width: 992px) {
}
/* tablet & mobile */
@media screen and (max-width: 991.98px) {
    .hoidzai{
        display: block;
    }
    .navbar {
        position: relative;
        
    }
    .navbar ul {
        display: none;
    }
    .logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .toggle__menu {
        width: 25px;
        color: #666;
    }
    .overplay {
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        position: fixed;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
    }
    .menu__checkbox:checked ~ .overplay {
        opacity: 1;
        visibility: visible;
    }
    .menu__checkbox:checked ~ .drawer {
        transform: translateX(0);
        transition: 0.5s ease;
        padding: 40px;
    }
    .drawer {
        inset: 0 40% 0 0;
        position: fixed;
        background: #fff;
        z-index: 2;
        transform: translateX(-100%);
    }
    
}
/* tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    
}
/* mobile */
@media screen and (max-width: 767.98px) {
}
