/* pc */
@media screen and (min-width: 992px) {
}
/* tablet & mobile */
@media screen and (max-width: 991.98px) {
    .hoidzai{
        display: block;
    }
    .navbar {
        position: relative;
        
    }
    .navbar ul {
        display: none;
    }
    .logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .toggle__menu {
        width: 25px;
        color: #666;
    }
    .overplay {
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        position: fixed;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
    }
    .menu__checkbox:checked ~ .overplay {
        opacity: 1;
        visibility: visible;
    }
    .menu__checkbox:checked ~ .drawer {
        transform: translateX(0);
        transition: 0.5s ease;
        padding: 40px;
    }
    .drawer {
        inset: 0 40% 0 0;
        position: fixed;
        background: #fff;
        z-index: 2;
        transform: translateX(-100%);
    }
    .drawer ul{
        margin-top: 60px;
    }
    .drawer  a{
        color: #333;
        padding: 14px 0px;
        display: block;
        font-weight: 500;
    }
    .hero-img{
        display: none;
    }
    .hero .info{
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }
    .hero .desc{
        width: 70%;
        margin: 0 auto;
    }
}
/* tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .hoi{
        display: none;
    }
}
/* mobile */
@media screen and (max-width: 767.98px) {
    .drawer {
        inset: 0 60% 0 0;
      
    }
    .actions{
        display: none;
    }
   .hoi{
    border-top: 1px solid #bebebe;
   }
   .clients .image{
    flex-wrap: wrap;
   }
   .guide-item{
    margin: 0;
   }
   .list-guide{
    gap: 10px;
   }
   .featured .list .item .thumb{
    height: 33%;
   }
}
